*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

/* Css for Scroll bar */
::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1e9040;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0B7841; 
  }
  
/* ---- CSS for Navbar ---- */
#nav-menu {
    display: flex;
    padding: 14px 8%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 2px 10px #1e9040;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.nav-logo > a > img {
    max-width: 160px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    font-size: 18px;
    margin-left: 40px;
    position: relative;
}

.menu > li > a {
    text-decoration: none;
}

.navbar-menu ul li a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #1e9040;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 0.5s;
}
.menu > li:not(:last-child) > a:hover::after { 
    width: 100%;
}

.resume {
    background-color: #1e9040;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
}
.resume > i{
    background-color: transparent;
}
.resume:hover{
    background-color: #0B7841;
}

.hamburger {
    display: none;
    cursor: pointer;
  }
  
.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1e9040;
    margin-bottom: 5px;
    transition: background-color 0.3s;
    border-radius: 10px;
}
  
.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
  
.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ----- CSS for Home ----- */
section{
    margin: 10vh auto;
    width: 80%;
}
#home{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 30vh auto;
}
.home-text{
    font-size: 24px;
    width: 55%;
}
.home-text p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 5%;
    text-align: justify;
    line-height: 24px;
}

/* Auto typing text in home section */
#auto-typing-text{
    color: #1e9040;
    display: inline-block;
    font-weight: bold;
}

/* Profile image in home section */
.home-image{
    width: 30%;
}

.home-image img{
    width: 250px;
    height: 250px;
    border-radius: 60%; 
    box-shadow: 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040;
}

/* Scroll up */
.scroll-up-button > i{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #1e9040;
    position: fixed;
    bottom: 70px;
    right: 60px;
    cursor: pointer;
}
.scroll-up-button > i:hover{
    box-shadow: 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040;
}
#connect-button{
    display: block;
    width: 160px;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #1e9040;
    padding: 10px;
    border-radius: 10px;
}
#connect-button > i{
    background-color: #1e9040;
}
#connect-button:hover{
    background-color: #0B7841;
}

/* ------ CSS for About ----- */

.headings{
    width: 24%;
    text-align: center;
    font-size: 42px;
    margin: 2vh auto 7vh auto;
    color: #1e9040;
}

.user-details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#user-detail-name{
    border-radius: 20px;
    box-shadow: 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040;
    width: 25%;
}
#user-detail-name > img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
}

#user-detail-intro{
    border-radius: 20px;
    width: 60%;
    padding: 20px;
}
#user-detail-intro > p{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
.about-skill-container{
    margin: 3vh auto;
    display: flex;
    justify-content: space-between;
}
.about-skill{
    padding: 10px;
    width: 140px;
    height: 70px;
    border-radius: 20px;
}
.about-skill > p{
    text-align: center;
    line-height: 22px;
}
.about-skill > p > i{
    font-size: 18px;
    margin-bottom: 10px;
}
.about-skill:hover{
    box-shadow: 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040;
}
#resume-button-2{
    display: block;
    width: 100px;
}

/* ------ CSS for Skills ------ */
.skill-set > h2{
    text-align: center;
    font-size: 26px;
    margin: 0 auto 5vh;
}
.teck-stacks{
    justify-content: space-around;
}
.front-end{
    width: 60%;
    margin: auto;
}
.front-end, .back-end {
    padding: 10px;
    text-align: center;
}
.front-end > h3, .back-end > h3{
    margin-bottom: 30px;
    font-size: 22px;
}
.back-end{
    width: 90%;
    margin: auto;
}
.skill-cards{
    display: flex;
    justify-content: space-around;
}
.skills-card {
    width: 65px;
    height: 80px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.skills-card:hover{
    box-shadow: 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040, 0px 2px 10px #1e9040;
}
.skills-card-img {
    display: block;
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.skills-card-name {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}
.other-skills > h2, .soft-skills > h2{
    text-align: center;
    font-size: 26px;
    margin: 0 auto 5vh;
}
.other-skills, .soft-skills{
    margin-top: 20px;
    text-align: center;
}

/* ------ CSS for Project ----- */ 
.project-slider-container{
    overflow: hidden;
}
.project-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}
.project-card {
    width: 95%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5vh auto;
    padding: 20px 0px;
    border-radius: 20px;
    background: radial-gradient(circle, #1e9040, #303531); /* Radial gradient */
    transition: box-shadow 0.5s;
    flex: 0 0 100%;
    overflow: hidden;
}
.project-card > div{
    width: 33%;
    border-radius: 10px;
    background: transparent;
}
.project-tech-stack{
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    background: transparent;
}
.project-card > div > h2{
    font-size: 18px;
    color: white;
    background: transparent;
}
.project-logo{
    background-color: white;
    width: 90%;
    border-radius: 10px;
    height: 300px;
}
.project-title{
    margin: 3vh;
    font-size: 28px;
    font-weight: bold;
    background: transparent;
}
.project-description{
    width: 90%;
    font-size: 16px;
    text-align: justify;
    margin: 3vh auto 0 auto;
    background: transparent;
}
.project-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding-top: 10vh;
}
.project-links > a{
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 3vh auto;
    background-color: black;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.project-links > a:hover{
    background-color: #303531;
}

.dots-container {
    text-align: center;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.controls{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 26px;
    align-content: center   ;
}
.prev-button, .next-button{
    font-size: 36px;
    cursor: pointer;
    border: none;
}
.prev-button > i:hover, .next-button > i:hover{
    color: #0B7841;
}
.controls i{
    background-color: transparent;
}
.active-dot {
    background-color: #0E9E4D;
}

/* ----- CSS for Statistics ----- */
.react-activity-calendar > img{
    display: block;
    width: 360px;
    margin: 20px auto;
}

/* ------ CSS for Contact ------ */
.contacts{
    display: flex;
    justify-content: space-around;
}
.contacts h2{
    font-size: 26px;
}
.contacts > div{
    width: 40%;
}
.Contact-details > h2{
    font-size: 20px;
}
.Contact-details > p{
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}
.contact-type > a{
    display: flex;
    text-decoration: none;
    margin: 30px 0px;
    align-items: center;
}
.contact-type > a > p:hover{
    color: #1e9040;
}
.contact-type > a > i{
    font-size: 36px;
    color: #1e9040;
    margin-right: 40px;
}
.contact-type > a > p{
    font-size: 20px;
}
.contact-form > h2{
    font-size: 22px;
}
#contact-form{
    margin-top: 30px;
}
#contact-form > input, #contact-form > textarea{
    display: block;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    height: 20px;
    width: 90%;
    margin: 20px 0px;
    padding: 10px 15px;
    border-top: 0.5px solid rgb(56, 56, 56);
    border-left: 0.5px solid rgb(56, 56, 56);
    border-right: 2px solid #1e9040;
    border-bottom: 2px solid #1e9040;
    outline: none;
}
#contact-form > textarea{
    height: auto;
}
#contact-form > input[type='submit']{
    width: 160px;
    font-size: 16px;
    height: 40px;
    border: none;
    background-color: #1e9040;
    cursor: pointer;
}
#contact-form > input[type='submit']:hover{
    background-color: #0B7841;
}
#successPopup{

    display: none;
    width: 200px;
    justify-content: space-between;
}
.popup > p, .popup > i{
    color: #1e9040;
    font-weight: bold;
}

/* ------ CSS for Footer ------- */
.footer{
    height: 50px;
    box-shadow: 0px 2px 20px #1e9040;
    display: flex;
}
.footer > h3{
    margin: auto;
    font-size: 18px;
}
.footer-name{
    color: #1e9040;
}

/* ------ CSS for Small Screens ------ */

@media only screen and (max-width: 1480px) {
    .project-tech-stack .skills-card{
        width: 45px;
        height: 60px;
    }
    .project-tech-stack .skills-card-img{
        width: 28px;
        height: 28px;
    }
    .project-tech-stack .skills-card-name{
        font-size: 8px;
    }
}

@media only screen and (max-width: 1130px){
    section{
        width: 90%;
    }
    .hamburger{
        display: block;
    }
    .navbar-menu {
        position: fixed;
        top: 0;
        right: -120%;
        width: 100%;
        height: 100%;
        background-color: #0E9E4D;
        background: radial-gradient(ellipse, #1e9040, #303531);
        transition: right 0.3s;
        z-index: 1;
        margin-top: 80px;
        width: 60%;
        height: 200vh;
        transition: 0.8s;
      }
    
    .navbar-menu.open {
      right: 0;
    }
    
    .menu{
        background-color: transparent;
        flex-direction: column;
    }
    
    .menu > li{
        margin: 0 0;
        background-color: transparent;
        padding: 20px;
        font-size: 22px;
        font-weight: bold;
    }
    .menu > li:hover{
        background-color: #0B7841;
    }
    .menu > li > a{
        background-color: transparent;
        display: block;
        width: 100%;
    }
    .menu > li:last-child{
        background-color: black;
        padding-left: 0;
    }
    #resume-button-1{
        background-color: black;
        font-size: 20px;
    }
}

@media only screen and (max-width: 867px){
    .scroll-up-button > i{
        right: 10px;
        padding: 8px;
    }
    #resume-button-1{
        font-size: 16px;
    }
    #home{
        flex-direction: column-reverse;
        width: 85%;
        margin: 20vh auto;
    }
    .home-image, .home-text{
        width: 90%;
        margin: 10px auto;
    }
    .home-image img{
        display: block;
        margin: auto;
    }
    .home-text{
        font-size: 20px;
    }
    .headings{
        width: 50%;
        text-align: center;
        margin: 2vh auto 5vh auto;
    }
    #user-detail-name{
        display: none;
    }
    #user-detail-intro{
        width: 85%;
    }
    .about-skill{
        height: 90px;
        width: 60px;
    }
    .skill-set > h2{
        font-size: 22px;
    }
    .front-end > h3, .back-end > h3{
        font-size: 18px;
    }
    .front-end, .back-end{
        width: 90%;
    }
    .skill-cards{
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 20px;
        justify-content: center;
    }
    .skills-card{
        width: 55px;
        height: 70px;
    }
    .skills-card-img{
        width: 35px;
        height: 35px;
    }
    .other-skills > h2, .soft-skills > h2{
        font-size: 22px;
    }
    .project-card{
        flex-direction: column;
        width: 90%;
    }
    .project-card > div:nth-child(2) {
      order: -1;
    }
    .project-card > div{
        width: 90%;
        display: block;
        margin: auto;
        row-gap: 5px;
    }
    .project-logo{
        width: 90%;
    }
    .project-card > div:nth-child(1) {
        /* display: none; */
        margin: 2vh auto;
        width: 100%;
    }
    .project-tech-stack{
        margin: 2vh auto;
        row-gap: 5px;
        column-gap: 5px;
    }
    .project-tech-stack .skills-card-img{
        width: 18px;
        height: 18px;
    }
    .project-tech-stack .skills-card{
        width: 28px;
        height: 40px;
    }
    .project-tech-stack .skills-card-name{
        font-size: 6px;
    }
    .project-links{
        padding-top: 0vh;
    }
    .project-links > a{
        margin: 16px auto;
    }
    .contacts{
        flex-direction: column-reverse;
    }
    .contacts > div{
        width: 85%;
        display: block;
        margin: 5vh auto 0 auto;
    }
    .contact-form{
        margin-bottom: 30px;
    }
    .footer > h3{
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px){
    .nav-logo > a > img {
        max-width: 120px;
    }
    .navbar-menu{
        margin-top: 68px;
    }
    .menu li{
        font-size: 16px;
    }
    #home{
        margin: 15vh auto;
    }
    .home-image img{
        width: 180px;
        height: 180px;
    }
    .home-text{
        font-size: 16px;
    }
    .home-text p{
        font-size: 14px;
    }
    .headings{
        width: 80%;
        font-size: 36px;
        text-align: center;
        margin: 2vh auto 5vh auto;
    }
    #connect-button{
        width: 60%;
    }
    #user-detail-intro > p{
        font-size: 14px;
    }
    .about-skill > p > i{
        font-size: 16px;
    }
    .about-skill > p{
        font-size: 10px;
    }
    .project-logo{
        height: 120px;
    }
    .project-title{
        font-size: 22px;
    }
    .project-description{
        font-size: 14px;
    }
    .controls{
        width: 60%;
    }
    .react-activity-calendar > img{
        width: 80%;
    }
    .contact-type > a > p{
        font-size: 14px;
    }
    .contact-type > a > i{
        font-size: 28px;
    }
    .footer > h3{
        font-size: 12px;
    }
}


