*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: monospace;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    color: #fff;
}

/* ------------------------------------------------------------ CSS for Navbar ------------------------------------------------------------ */
/* header div */
#header{
    width: 100%;
    background-color: #080808;
    background-size: cover;
    background-position: center;
}

/* Glowing border for navbar */
.glowing-border{
    width: 100%;
    height: 75px;
    position: relative;
}
.glowing-border::after, .glowing-border::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: borderAnimation 10s linear infinite;
}

/* container div */
.container{
    padding: 12px 8%;
    background-color: #080808;
}

/* Navbar Logo */
.logo{
    width: 40%;
}

/* Navbar Menu */
#nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#nav-menu ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
#nav-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
#nav-menu ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #22B14C;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 0.5s;
}

/* Sticky Navbar */
nav.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 8%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transition: 1s; */
}
#nav-menu ul li a:hover::after{
    width: 100%;
}

/* Navbar Resume Button */
.resume{
    background-color: #22B14C;
    color: #080808;
    padding: 10px;
    border-radius: 10px;
}
#resume-link-1{
    color: #080808;
}
#resume-link-1:hover::after{
    display: none;
}
.resume:hover{
        background-color: #198539;
}

/* Animation keyframe for glowing border */
@keyframes borderAnimation {
    0% {
    background: linear-gradient(to right, green, red, yellow, green, cyan, green, magenta, red);
    }
    16.67% {
    background: linear-gradient(to right, green, green, red, yellow, green, cyan, green, magenta);
    }
    33.33% {
    background: linear-gradient(to right, green, magenta, green, cyan, green, yellow, red, magenta);
    }
    50% {
    background-color: green;
    }
    66.67% {
    background: linear-gradient(to right, green, red, yellow, green, cyan, green, magenta green);
    }
    83.33% {
    background: linear-gradient(to right, green, yellow, red, green, cyan, green, red, green);
    }
    100% {
    background: linear-gradient(to right, green, magenta, green, cyan, green, yellow, red, magenta);
    }
}

/* ------------------------------------------------------------ CSS for Home ------------------------------------------------------------ */
.home-content{
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: 10% auto;
    padding: 5%;
}

#home{
    display: block;
    margin: auto;
}
.home-text{
    font-size: 24px;
    width: 55%;
}
.home-text p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 5%;
    text-align: justify;
    line-height: 24px;
}

/* Auto typing text in home section */
#auto-typing-text{
    color: #22B14C;
    display: inline-block;
}

.home-image{
    width: 30%;
}

.home-image img{
    width: 250px;
    height: 250px;
    border-radius: 60%; 
    border: 3px solid #22B14C;
}



